configuration {
    modes: [combi];
	font: "mono 12";
    show-icons: true;
 timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  
}

entry{
    placeholder: "Type...";
    cursor: pointer;
}

/* Import my theme */
@import "themes/theme.rasi"
@theme "theme"
